<app-navbar></app-navbar>
<br><br><br><br>
<div class="flex flex-col md:flex-row justify-center gap-4 md:gap-8">
    
    <div
        class="w-full max-w-xs md:max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow md:p-8">
        <img class="" [src]="imageUrl" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-lg md:text-xl font-bold tracking-tight text-gray-900">{{websiteName}}
            </h5>
            <a [href]="websiteUrl" class="mb-3 font-normal text-blue-700">View Site</a>
        </div>
    </div>

    
    <div
        class="w-full max-w-xs md:max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow md:p-8">
        <div *ngIf="isSuccess"
            class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50"
            role="alert">
            {{successMessage}}
        </div>

        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="space-y-6">
            <h5 class="text-lg md:text-xl font-medium text-gray-900 text-center">{{formState}} User And
                Password</h5>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                <input [(ngModel)]="email" type="email" name="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Email" required />
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900">Username</label>
                <input [(ngModel)]="username" type="text" name="username"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Username" required />
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                <input [(ngModel)]="password" type="password" name="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Password" required />
            </div>
            <div class="flex justify-center">
                <button type="submit"
                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">{{formState}}</button>
            </div>
        </form>
    </div>
</div>

<div class="container mx-auto px-2 mt-8 w-full">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 mx-auto">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-3 py-2">
                        Email
                    </th>
                    <th scope="col" class="px-3 py-2">
                        Username
                    </th>
                    <th scope="col" class="px-3 py-2">
                        Password
                    </th>
                    <th scope="col" class="px-3 py-2">
                       ACTIONS
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b hover:bg-gray-50" *ngFor="let password of passwords; let i = index">
                    <th scope="row" class="px-3 py-2 font-medium text-gray-900 whitespace-nowrap">
                        {{password.email}}
                    </th>
                    <td class="px-3 py-2">
                        {{password.username}}
                    </td>
                    <td class="px-3 py-2">
                        {{password.password}}
                        <button (click)="onDecryptPassword(password.password, i)" class="mx-auto px-5 py-1 text-sm bg-red-500 text-white shadow rounded-md">Decrypt</button>
                    </td>
                    <td class="px-3 py-2">
                        <a style="cursor: pointer;" (click)="editPassword(password.email, password.username, password.password, password.id)" class="font-medium text-blue-600 hover:underline">Edit</a>&nbsp;
                        <a style="cursor: pointer;" (click)="deletePassword(password.id)" class="font-medium text-red-600 hover:underline">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>
